stages:
  - test
  - lint
  - validate
variables:
  DJANGO_SETTINGS_MODULE: "shopBoom.settings"
  VENV_PATH: ".venv"

test-staticfiles:
  tags:
   - django
   - shell
  stage: test
  before_script:
    - ls -l
    - python3 --version
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r ./requirements.txt
  script:
    - source $VENV_PATH/bin/activate
    - echo "Проверка статик-файлов Django..."
    - python3 manage.py collectstatic --noinput --dry-run
    - echo "Статические файлы валидны"  



lint-project:
  tags:
    - django
    - shell
  stage: lint
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install flake8
  script:
    - flake8 shop apps --statistics || true


validate-django-settings:
  tags:
   - django
   - shell
  stage: validate
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - source $VENV_PATH/bin/activate
    - echo "Проверка настроек Django..."
    - python3 manage.py check
    - echo "Настройки валидны"

build-project:
  tags:
    - django
    - shell
  stage: test
  before_script:
    - python3 -m venv $VENV_PATH
    - source $VENV_PATH/bin/activate
    - pip install --upgrade pip
    - pip install -r ./requirements.txt
  script:
    - source $VENV_PATH/bin/activate
    - echo "Сборка проекта Django без подключения к БД..."
    - python3 manage.py check
    - python3 manage.py collectstatic --noinput --dry-run
    - echo "Сборка проекта завершена успешно"
