{% extends "index.html" %}
{% block content %}

<section class="top">
    <div class="wrapper">
        <h2 class="top__title section__title">
            Статьи
        </h2>
        <div class="top__cards">
            {% for Article in Articles %}
                <div class="top__card">
                    <div class="top__card-pic">
                        {% if Article.image %}
                            <img src="{{ Article.image.url }}" alt="Article" class="top__card-thumb">
                        {% endif %}
                        <div class="top__card-stats">
                            <h3 class="top__card-title">
                                {{ Article.name }}
                            </h3>
                        </div>
                    </div>
                    <p>{{ Article.text|truncatechars:140 }}</p>
                    <div class="top__card-misc">
                        <a href="{% url 'article_detail' Article.id %}" class="top_card-button">Читать</a>
                    </div>
                </div>
            {% empty %}
                <p>Сейчас статей нет</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
